In [1]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT *
        FROM FACILITIES
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)

In [38]:
# Question 10
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT name, SUM(revenue) AS total_revenue
        FROM (SELECT DISTINCT f.facid, f.name, CASE WHEN b.memid = 0 THEN b.slots * f.guestcost
                ELSE b.slots * f.membercost END AS revenue
        FROM Bookings AS b
        LEFT JOIN Facilities AS f
        ORDER BY f.facid) AS profit
        GROUP BY facid
        HAVING SUM(revenue) < 1000
        ORDER BY total_revenue;
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Table Tennis', 295)
('Snooker Table', 295)
('Pool Table', 295)
('Badminton Court', 914.5)

In [53]:
# Question 11
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT firstname, surname, recommendedby
        FROM (SELECT *
            FROM Members
            WHERE recommendedby != '')
        ORDER BY surname, firstname;
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Florence', 'Bader', '9')
('Anne', 'Baker', '9')
('Timothy', 'Baker', '13')
('Tim', 'Boothe', '3')
('Gerald', 'Butters', '1')
('Joan', 'Coplin', '16')
('Erica', 'Crumpet', '2')
('Nancy', 'Dare', '4')
('Matthew', 'Genting', '5')
('John', 'Hunt', '30')
('David', 'Jones', '4')
('Douglas', 'Jones', '11')
('Janice', 'Joplette', '1')
('Anna', 'Mackenzie', '1')
('Charles', 'Owen', '1')
('David', 'Pinker', '13')
('Millicent', 'Purview', '2')
('Henrietta', 'Rumney', '20')
('Ramnaresh', 'Sarwin', '15')
('Jack', 'Smith', '1')
('Ponder', 'Stibbons', '6')
('Henry', 'Worthington-Smyth', '2')

In [73]:
# Question 12
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT (m.firstname || ' ' ||m.surname) AS full_name, f.name
        FROM Bookings AS b
        LEFT JOIN Members AS m
        USING(memid)
        LEFT JOIN Facilities AS f
        USING(facid)
        WHERE memid != 0
        GROUP BY full_name;
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Anna Mackenzie', 'Badminton Court')
('Anne Baker', 'Tennis Court 1')
('Burton Tracy', 'Tennis Court 2')
('Charles Owen', 'Tennis Court 1')
('Darren Smith', 'Table Tennis')
('David Farrell', 'Tennis Court 1')
('David Jones', 'Tennis Court 2')
('David Pinker', 'Snooker Table')
('Douglas Jones', 'Badminton Court')
('Erica Crumpet', 'Badminton Court')
('Florence Bader', 'Badminton Court')
('Gerald Butters', 'Tennis Court 1')
('Henrietta Rumney', 'Snooker Table')
('Henry Worthington-Smyth', 'Badminton Court')
('Hyacinth Tupperware', 'Snooker Table')
('Jack Smith', 'Massage Room 1')
('Janice Joplette', 'Massage Room 1')
('Jemima Farrell', 'Table Tennis')
('Joan Coplin', 'Snooker Table')
('John Hunt', 'Tennis Court 1')
('Matthew Genting', 'Massage Room 2')
('Millicent Purview', 'Badminton Court')
('Nancy Dare', 'Badminton Court')
('Ponder Stibbons', 'Tennis Court 2')
('Ramnaresh Sarwin', 'Tennis Court 2')
('Tim Boothe', 'Tennis Court 2')
('Tim Rownam', 'Massage Room 1')
('Timothy Baker', 'Tennis Court 2')
('Tracy Smith', 'Tennis Court 1')

In [92]:
# Question 13
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT DISTINCT SUBSTRING(starttime, 6, 2) AS month, name
        FROM Bookings
        LEFT JOIN Facilities
        WHERE memid != 0;
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('07', 'Tennis Court 1')
('07', 'Tennis Court 2')
('07', 'Badminton Court')
('07', 'Table Tennis')
('07', 'Massage Room 1')
('07', 'Massage Room 2')
('07', 'Squash Court')
('07', 'Snooker Table')
('07', 'Pool Table')
('08', 'Tennis Court 1')
('08', 'Tennis Court 2')
('08', 'Badminton Court')
('08', 'Table Tennis')
('08', 'Massage Room 1')
('08', 'Massage Room 2')
('08', 'Squash Court')
('08', 'Snooker Table')
('08', 'Pool Table')
('09', 'Tennis Court 1')
('09', 'Tennis Court 2')
('09', 'Badminton Court')
('09', 'Table Tennis')
('09', 'Massage Room 1')
('09', 'Massage Room 2')
('09', 'Squash Court')
('09', 'Snooker Table')
('09', 'Pool Table')